html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* #computer-container {
    background-color: blue;
}

#user-container {
    background-color: green;
} */

.grid-container {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.grid-ele {
    border: solid black;
}

#between-container {
    height: 10%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.ship {
    background-color: green;
}

.hit-ship {
    background-color: red;
}

.hit-miss {
    background-color: grey;
}

#logs {
    background-color: purple;
    height: 100%;
    width: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#setup {
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
}

#dir {
    margin-top: 3px;
    margin-bottom: 3px;
}